<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Take the Quiz</h1>
<form method="POST" action="/submit/">
    {% csrf_token %}
    {% for question in questions %}
        <h3>{{ question.text }}</h3>
        <input type="radio" name="{{ question.id }}" value="{{ question.option1 }}" required> {{ question.option1 }}<br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
        <input type="radio" name="{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
<a href="/add/">Add a Question</a> | <a href="/all/">View All Questions</a>

</body>
</html>